body{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap : 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.container__panel{
    background-color: #eeee;
    color: #fff;
    perspective : 600px;
    transition: all 500ms;
}

.container__panel:hover{
    background-color: #dddddddd;
}

.container__panel.left:hover{
    background-color: blue;
    transform: rotateY(0.1turn);
}

.container__panel.right:hover{
    background-color: red;
    transform: rotateY(-0.1turn);
}
