body{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap : 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.container__panel{
    background-color: #eeee;
    color: #fff;
    perspective : 1200px;
    border: 4px solid white;
    transform: scale(0.7);
    transition: all 500ms;
}

.container__panel:hover{
    background-color: #dddddddd;
}

.container__panel.left:hover{
    background-color: rgba(200,200,230,.8);
    transform: scale(0.7) rotateY(30deg);
}

.container__panel.right:hover{
    background-color: rgba(230,200,200,.8);
    transform: scale(0.7) rotateX(30deg);
}
