body{
    margin: 0;
    padding: 0;
    background: #eee;
}

.menu{
    position: absolute;
    top: 0;
    left: 50px;
    width: 250px;
    height: 100%;
    background: #ccc;
}

.menu div{
    padding-left: 1.25em;
    height: 5em;
    border-bottom: 1px solid #eee;
}

.menu__titrecolor{
    background:yellow;
}
